<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apache Status Monitor - SSLW</title>
    <link rel="stylesheet" href="css/bootstrap.min.3.3.7.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/socket.io.js"></script>
    <script src="js/jquery.min.3.3.1.js"></script>
    <script src="js/underscore.min.1.9.1.js"></script>
</head>

<body>
    <div class="container">
        <h3 id="clinetConnectionStatus" class="alert alert-danger" role="alert">...</h3>
        <h2>Apache Status <sup>β - 1.0</sup></h2>
        <table class="table table-bordered table-condensed table-hover table-striped" id="apacheStatusView">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Priority</th>
                    <th>Capacity</th>
                    <th>Load</th>
                    <th>Probe Status</th>
                    <th>Last Response</th>
                    <th>Last Try</th>
                </tr>
            </thead>
            <tbody class="thead-inverse"></tbody>
        </table>
        <p class="text-muted small text-right">Developed by Service Assurance, SSL Wireless</p>
        <script>
        $(function() {
            /*********************************************/
            var serverURL = 'http://localhost:3000';
            /*********************************************/
            var td = _.template("<td><%= val %></td>");
            var tr = _.template("<tr><%= val %></tr>");
            var trError = _.template("<tr class='danger'><%= val %></tr>");
            var trWarning = _.template("<tr class='warning'><%= val %></tr>");
            var tbody = _.template("<tbody><%= val %></tbody>");
            var socket = io.connect(serverURL);

            socket.on('apache status', function(incoming) {
                var trCont = "";
                var trContErr = "";
                var trContWarn = "";
                for (k in incoming) {

                    var tdCont =
                        td({ val: incoming[k].Name }) +
                        td({ val: '<a target="_blank" href="' + incoming[k].URL + '">' + incoming[k].URL + '</a>' }) +
                        td({ val: incoming[k].Priority }) +
                        td({ val: incoming[k].Capacity }) +
                        td({ val: incoming[k].Load }) +
                        td({ val: incoming[k].ProbeStatus }) +
                        td({ val: incoming[k].LastResponse }) + 
                        td({ val: incoming[k].LastTry });

                    if (incoming[k].Load != -1) {
                        if (incoming[k].Load >= incoming[k].Capacity) {
                            trContErr = trContErr + trError({ val: tdCont });
                        } else if (incoming[k].Load >= incoming[k].Capacity*80/100) {
                            trContWarn = trContWarn + trWarning({ val: tdCont });
                        } else {
                            trCont = trCont + tr({ val: tdCont });
                        }
                    } else {
                        trContErr = trContErr + trError({ val: tdCont });
                    }
                };

                $('#apacheStatusView tbody').html(trContErr + trContWarn + trCont);
                // console.log(trCont);
            }); // socket on apache status
            socket.on('connect', function() {
                $('#clinetConnectionStatus').text("Connected").hide();
            });
            socket.on('disconnect', function() {
                $('#clinetConnectionStatus').text("Disconnected").show();
            });
            socket.on('reconnect_attempt', function(attempt) {
                $('#clinetConnectionStatus').text("Disconnected! Retrying to connect... " + attempt).show();
            });
        }); // end of ready function
        </script>
    </div>
</body>

</html>